ul .task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px !important;
    background-color: aquamarine;
}
.task{
 display: flex;
    align-items: center;
    justify-content: space-between;
}
span:hover{
    cursor: pointer;
}